.main {
  background-color: rgba(6, 105, 105, 0.801);
  margin: 0;
  padding: 10px 0px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 18rem;
  cursor: pointer;
}

.image {
  width: 100%;
}

.single-post {
  padding: 0 0 10px 0;
  background-color: rgb(218, 211, 211);
  border-radius: 10px;
  cursor: pointer;
}

.single-post:hover {
  background-color: rgb(204, 197, 197);
}

.heading {
  font-size: 1.5rem;
  text-align: center;
}

.heading2 {
  font-size: 1.4rem;
}

.title {
  font-size: 1.3rem;
  margin: 20px 0px;
  padding: 0px 10px;
}

.description {
  font-size: 1.2rem;
  padding: 0px 10px;
}

.button {
  padding: 10px 20px;
  margin: 0px 5rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.836);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: black;
}
