.main {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image {
  width: 50%;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: justify;
  padding: 0px 180px;
}

.body {
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 1.4rem;
  text-align: justify;
  padding: 0px 180px;
}

@media (max-width: 768px) {
  .image {
    width: 90%;
  }

  .description {
    padding: 0 30px;
    font-size: 2rem;
  }

  .body {
    padding: 0 30px;
    font-size: 2rem;
  }
}

@media (max-width: 475px) {
  .image {
    width: 80%;
  }

  .description {
    padding: 0 20px;
    font-size: 1.8rem;
  }

  .body {
    padding: 0 20px;
    font-size: 1.8rem;
  }
}
