.main {
  background-color: rgb(198, 248, 240);
  margin: 0;
  padding: 10px 0px;
}

.image {
  width: 100%;
}

.posts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 50px 0; */
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 80px 0;
  /* position: relative; */
}

.background {
  padding: 10rem 18rem;
  /* width: 100vw; */
  /* position: absolute; */
  /* margin: 20px 0; */
}

.single-post {
  width: 27rem;
  /* padding: 80 0 10px 0; */
  /* padding: 0 10rem; */
  background-color: rgb(250, 247, 247);
  border-radius: 5px;
  cursor: pointer;
  margin-top: -15rem;
  z-index: 1;
  /* margin: 20px 0; */
  /* top: 40%; */
  /* bottom: 40%; */
  /* position: relative; */
}

.single-post:hover {
  background-color: rgb(230, 227, 227);
}

.heading {
  font-size: 2rem;
  text-align: center;
  color: #050507;
}

.heading2 {
  font-size: 1.4rem;
}

.title {
  font-size: 1.3rem;
  margin: 20px 0px;
  padding: 0px 10px;
}

.description {
  font-size: 1.2rem;
  padding: 0px 10px;
}

.button {
  padding: 10px 20px;
  margin: 5px 8px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.836);
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}

/* Blog Hero Styling */
.card {
  width: 25rem;
  background-color: rgb(250, 247, 247);
  border-radius: 5px;
}

.hero-container {
  margin-left: 70px;
  padding-top: 25px;
}

@media (max-width: 475px) {
  .post-container {
    margin-right: 2rem;
  }

  .background {
    padding: 10rem 11rem;
  }

  .single-post {
    width: 18rem;
  }

  .card {
    width: 18rem;
  }

  .hero-container {
    margin-left: 20px;
  }
}
