.container {
  display: flex;
  justify-content: space-around;
  padding: 55px 0px;
}

.mens,
.womens {
  /* margin-top: 2px; */
  width: 50%;
  /* z-index: 0; */
  position: relative;
  margin: 0px 20px;
}

.button1,
.button2 {
  display: flex;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(190, 255, 60);
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10rem;
}

.button2:hover,
.button1:hover {
  background-color: yellowgreen;
  color: black;
}

/* .image2 {
  opacity: 0.8;
} */

@media (max-width: 475px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .mens,
  .womens {
    width: 100%;
    margin: 0;
  }

  .button1,
  .button2 {
    padding: 10px 20px;
  }

  .button2 {
    left: 22%;
  }
}
