.container {
  background-color: rgb(156, 215, 238);
  padding: 30px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content,
.subscribe {
  font-size: 24px;
}

.input {
  width: 8rem;
}

.input,
.button {
  padding: 8px;
  margin: 0px 10px;
  border-radius: 10px;
  border: none;
}

.button {
  padding: 5px 15px;
  color: #fff;
  font-size: 18px;
  background-color: rgb(172, 62, 62);
  cursor: pointer;
  margin-left: 5px;
}

.button:hover {
  background-color: tomato;
}

@media (max-width: 475px) {
  .container {
    flex-direction: column;
  }

  .subscribe {
    margin: 10px 0;
  }
}
